/* Header */
.headerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c5c5c5;
  color: #000;
  height: 3rem;
}


/* CheckBoxList */
.checkBoxListBox {
  padding: 1rem 0 0 1rem;
  gap: 1rem;
}

.checkBoxList {
  gap: 0.7rem;
  display: flex;
  flex-wrap: wrap;
}
